<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{obtener_tema(actividad.id) }}</title>
    {% block css %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style-info.css') }}"
    />
    {% endblock %}
</head>

<div class="container">
    <h2 class="title">{{obtener_tema(actividad.id) }}</h2>

    <div>
        <ul>
            <li><strong>Fecha y hora de inicio:</strong> {{ actividad.dia_hora_inicio }}</li>
            <li><strong>Fecha y hora de término:</strong> {{ actividad.dia_hora_termino }}</li>
            <li><strong>Comuna:</strong> {{ obtener_comuna(actividad.comuna_id) }}</li>
            <li><strong>Sector:</strong> {{ actividad.sector }}</li>
            <li><strong>Tema:</strong> {{ obtener_tema(actividad.id) }}</li>
            <li><strong>Nombre de organizador:</strong> {{ actividad.nombre }}</li>
            <li><strong>Total fotos:</strong> <img src="{{ obtener_foto(actividad.id) }}" alt="Foto" style="max-width: 200px; max-height: 200px;"></li>
            </ul>
<div class="botones">
          <button class="Menu" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú principal</button>
            <button class="back" onclick="window.history.back()">Volver lista de actividades</button>
        </div>   
         </div>
</div>

</html>