<!DOCTYPE html>
<html lang="es">



<head>

  <meta charset="UTF-8">
  <title >Estadísticas de actividades </title> 

   {% block css %}
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-stats.css') }}"
  />
  {% endblock %}
</head>
<body>
    
    <h1>Estadísticas de actividades</h1>


    <h2>Gráfico cantidad de actividades por día </h2>
    <div class="stats-container">
    <figure class="first-figure">
        <div id="first-container"></div>
        <p class="highcharts-description">
            Gráfico # 1
        </p>
    </figure>
    <figure class="second-figure">
        <div id="second-container"></div>
        <p class="highcharts-description">
            Gráfico # 2
        </p>
    </figure>

    <figure class="third-figure">
        <div id="third-container"></div>
        <p class="highcharts-description">
            Gráfico # 3
        </p>
    </figure>
    </div>

    <button class="Menu" id="menu_boton" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú principal</button>
</body>
       {% block javascript %}
                  
                  <script src="https://code.highcharts.com/highcharts.js"></script>

                    <script src="{{ url_for('static', filename='js/validador_estadisticas.js') }}"></script>
                {% endblock %}  

</html>