<!DOCTYPE html>
<html lang="es">



<head>

  <meta charset="UTF-8">
  <title >Estadísticas de actividades </title> 

   {% block css %}
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-stats.css') }}"
  />
  {% endblock %}
</head>
<body>
    
    <h1>Estadísticas de actividades</h1>


    <h2>Gráfico cantidad de actividades por día </h2>
    <div id ="First-graph">
        <img src="fotos/grafo1.png" alt="book " width="520" height="400" >
    </div>
    <h2>Gráfico cantidad de actividades por tipo </h2>
    <div id ="second-graph">
        <img src="fotos/grafo2.png" alt="book " width="520" height="400" >
    </div>
    <h2>Gráfico cantidad de actividades por mes </h2>
    <div id ="third-graph">
        <img src="fotos/grafo3.png" alt="book " width="520" height="400" >
    </div>
</body>
<button class="Menu" id="menu_boton" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú principal</button>         

</html>