<!DOCTYPE html>
<html lang="es">
  


<head>

  <meta charset="UTF-8">
  <title > Actividades recreativas  </title> 
  {% block css %}
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-index.css') }}"
  />
  {% endblock %}
</head>



  <body >

    <div class="Seleccion">
      <div class="Menu">
        <p id="menu">Bienvenid@ a la página para encontrar actividades en Chile</p>
      </div>    
        <div class="botones">
          <a href="{{ url_for('informar_actividad') }}" class="boton-1" style="margin: 10px">Agregar Actividad</a>
          
        </div>
        
        <div class="botones">
          <a href="{{ url_for('listaActividades') }}" class="boton-2" style="margin: 10px">Ver lista de actividades</a>

          
        </div>
        <div class="botones">
         <a href="{{ url_for('estadisticas') }}" class="boton-3" style="margin: 10px">Estadísticas</a>
                
        </div>
    


    <table id="first_table" class="default">

  <tr >

    <th> Inicio  </th>

    <th> Término </th>

    <th> Comuna </th>
    
    <th> Sector </th>
    
    <th> Tema </th>
    
    <th> Foto </th>

  </tr>
               {% for actividad in ultimas_actividades %}
                  <tr >
                    {% if actividad %}
                    <th> {{ actividad.dia_hora_inicio }}</th>
                    <th> {{ actividad.dia_hora_termino }}</th>
                    <th> {{ obtener_comuna(actividad.comuna_id) }}</th>
                    <th> {{ actividad.sector }}</th>
                    <th> {{ obtener_tema(actividad.id) }}</th>
                    <th> <img src="{{ obtener_foto(actividad.id)}}" alt="Foto" style="max-width: 100px; max-height: 100px;"></th>
                    {% else %}
                      <li>No hay actividades registradas aún.</li>
                    </tr>
                    {% endif %}
                {% endfor %}
  

   
</table>















  </body>

</html>