<!DOCTYPE html>
<html lang="es">
  


<head>

  <meta charset="UTF-8">
  <title > Actividades recreativas  </title> 
  {% block css %}
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-index.css') }}"
  />
  {% endblock %}
</head>



  <body >

    <div class="Seleccion">
      <div class="Menu">
        <p id="menu">Bienvenid@ a la página para encontrar actividades en Chile</p>
      </div>    
        <div class="botones">
          <a href="{{ url_for('informar_actividad') }}" class="boton-1" style="margin: 10px">Agregar Actividad</a>
          
        </div>
        
        <div class="botones">
          <a href="{{ url_for('listaActividades') }}" class="boton-2" style="margin: 10px">Ver lista de actividades</a>

          
        </div>
        <div class="botones">
         <a href="{{ url_for('estadisticas') }}" class="boton-3" style="margin: 10px">Estadísticas</a>
                
        </div>
    


      <ul>
         {% for actividad in ultimas_actividades %}
            <li>
                <strong>{{ actividad.nombre }}</strong><br>
                {% if actividad.sector %}Sector: {{ actividad.sector }}<br>{% endif %}
                Email: {{ actividad.email }}<br>
                {% if actividad.celular %}Celular: {{ actividad.celular }}<br>{% endif %}
                Inicio: {{ actividad.dia_hora_inicio }}<br>
                {% if actividad.dia_hora_termino %}Término: {{ actividad.dia_hora_termino }}<br>{% endif %}
                Descripción: {{ actividad.descripcion }}<br>
                </li>
            <hr>
        {% else %}
            <li>No hay actividades registradas aún.</li>
        {% endfor %}
    </ul>

  </body>

</html>