<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <title> Parque de atracciones  </title> 
  {% block css %}
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-info.css') }}"
  />
  {% endblock %}
</head>



  
<div class="container">
<h2 class="title">Parque de atracciones</h2>

<div>
  <ul>
    <li>Fecha y hora de inicio:  2025-04-07 10:00 </li>
    <li>Fecha y hora de término: 2025-04-09 19:00 </li>
    <li>Comuna: La Reina </li>
    <li>Sector: Parque intercomunal La Reina</li>
    <li>Tema: Parque de atracciones </li>
    <li>Nombre de organizador: Danielle Pino </li>
    
  </ul>
</div>

  
      <div class="Image-container">
      <div class = "image"><img src="fotos/parque_!.jpeg" alt="parque_"></div>
      <div class = "image"><img src="fotos/parque_2.jpeg" alt="parque_2"></div>
      <div class = "image"><img src="fotos/parque_3.webp" alt="parque_3"></div>
      </div>


<div class="popup-im">
<span>&times;</span>
<img src="fotos/parque_!.jpeg" alt="">

</div>
        <div class="botones">
          <button class="Menu" onclick="window.location.href='index.html'">Volver al menú principal</button>
          <button class="back" onclick="window.location.href='listaActividades.html'">Volver lista de actividades</button>
        </div>

      <script src="js/validador-list.js"></script>
</div>
</html>