<!DOCTYPE html>
<html lang="es">



<head>

  <meta charset="UTF-8">
  <title >Lista de actividades </title> 
  
    {% block css %}
                    <link
                        rel="stylesheet"
                        href="{{ url_for('static', filename='css/style-list.css') }}"
                    />
  {% endblock %}
</head>


<table class="default" id = "tabla-actividades">
 <thead>
  <tr >

    <th> Inicio  </th>

    <th> Término </th>

    <th> Comuna </th>
    
    <th> Sector </th>
    
    <th> Tema </th>

    <th> Nombre Organizador </th>
    
    <th> Total fotos </th>
  </tr>
</thead>
<tbody id="activities-body">
        {% for actividad in actividades %}
        <tr onclick="verDetalle({{ actividad.id }})" style="cursor: pointer;">
            <td>{{ actividad.Inicio }}</td>
            <td>{{ actividad.Termino }}</td>
            <td>{{ actividad.Comuna }}</td>
            <td>{{ actividad.Sector }}</td>
            <td>{{ actividad.Tema }}</td>
            <td>{{ actividad['Nombre organizador'] }}</td>
            <td><img src="{{ actividad['Total fotos'] }}" alt="Foto" style="max-width: 100px; max-height: 100px;"></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<div class="botones_paginas">
<button class="boton" id="prev-boton"  >Anterior</button>  
<p id = "Pagina-actual"></p>       
<button class = "boton" id = "post-boton" >Siguiente</button>
  </div>      
<button class="Menu" id="menu_boton" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú principal</button>         
  {% block javascript %}
                    <script src="{{ url_for('static', filename='js/validador-list.js') }}"></script>
                {% endblock %}
</html>