<!DOCTYPE html>
<html lang="es">



<head>

  <meta charset="UTF-8">
  <title >Lista de actividades </title> 
  
    {% block css %}
                    <link
                        rel="stylesheet"
                        href="{{ url_for('static', filename='css/style-list.css') }}"
                    />
  {% endblock %}
</head>


<table class="default">

  <tr >

    <th> Inicio  </th>

    <th> Término </th>

    <th> Comuna </th>
    
    <th> Sector </th>
    
    <th> Tema </th>

    <th> Nombre Organizador </th>
    
    <th> Total fotos </th>

  </tr>

  <tr onclick="window.location.href='info-amigurumi.html'">

    <td> 2025-03-01 16:00 </td>

    <td>2025-03-01 19:00 </td>

    <td>La Cisterna</td>
    
    <td>Municipalidad </td>
    
    <td> Tejidos </td>
    
    <td> Andrés Cáceres </td>
    
    <td><img src="fotos/amigurumi.webp" alt="tejido" width="180" height="120" ></td>

  </tr>
  <tr onclick="window.location.href='info-parque.html'">

    <td> 2025-04-07 10:00 </td>

    <td> 2025-04-09 19:00 </td>

    <td>La Reina</td>
    
    <td>Parque intercomunal La Reina </td>

    <td> Parque de atracciones </td>
    
    <td> Danielle Pino </td>
    
    <td><img src="fotos/amusement-park.webp" alt="fantasilandia" width="180" height="120" ></td>
  </tr>
  <tr onclick="window.location.href='info-libros.html'">

    <td> 2025-05-07 09:00 </td>

    <td>2025-05-16 19:00 </td>

    <td>Santiago</td>
    
    <td>GAM </td>

    <td> Feria del libro </td>

    <td> Manuel Salas </td>
    
    <td><img src="fotos/book.webp" alt="book " width="180" height="120" ></td>
  </tr>
  <tr onclick="window.location.href='info-origami.html'">

    <td> 2025-03-23 10:00 </td>

    <td>2025-03-23 15:00 </td>

    <td>San Bernardo</td>
    
    <td>Biblioteca municipal de San Bernardo </td>

    <td> Taller de Origami </td>

    <td> Andrew Bernanrd </td>
    
    <td><img src="fotos/origami.jpg" alt="Origami" width="180" height="120" ></td>

  </tr>
  <tr onclick="window.location.href='info-mascota.html'">

    <td> 2025-07-07 12:00 </td>

    <td>2025-07-07 19:00 </td>

    <td>Providencia</td>
    
    <td>Parque Inés de Suarez </td>

    <td> Concurso de mascotas </td>

    <td> Michelle Rojas </td>
    
    <td><img src="fotos/chihuahua.webp" alt="chihuahua" width="180" height="120" ></td>
  </tr>

</table>


        
          <button class="Menu" onclick="window.location.href='index.html'">Volver al menú principal</button>