 * {
   
    font-family:  "Goudy Bookletter 1911", sans-serif;
    
}
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 .Menu{
 font-size: xx-large;
 color: rgb(0, 0, 0); 
 font-weight: 1000;
 align-items: center;
 }
 
 
 .boton-1{
  margin-bottom: 20px;
  padding: 3px 10px;
  font-family: 'Lobster';
  font-weight: 1000;
  border: rgb(255, 255, 255) 8px groove;
  cursor: pointer;
  border-radius: 10px; 
  font-size: larger;
  align-items: center;
}

 .boton-2{
  margin-bottom: 20px;
  padding: 3px 10px;
  font-family: 'Lobster';
  font-weight: 1000;
  border: rgb(255, 255, 255) 8px groove;
  cursor: pointer;
  border-radius: 10px; 
  font-size: larger;
  align-items: center;
 
}

.boton-3{
  margin-bottom: 20px;
  padding: 3px 10px;
  font-family: 'Lobster';
  font-weight: 1000;
  border: rgb(255, 255, 255) 8px groove;
  cursor: pointer;
  border-radius: 10px; 
  font-size: larger;
  align-items: center;
  
}

th, td {
    
   border:3px solid #0700076f;
   
}
table {
    width: 80%;
    border-spacing: 3px;
    background-color: rgb(206, 222, 230);
    table-layout: fixed;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    align-items: center;


}
tr:first-child {

    background-color: rgb(179, 223, 241);
    font-size: x-large;

  }


  th:first-child{
  border-top-left-radius: 7px;
}

th:nth-last-child(1){
  border-top-right-radius: 7px;
}

.ultima_fila td:first-child{
   border-bottom-left-radius: 7px;
}

.ultima_fila td:nth-last-child(1){
   border-bottom-right-radius: 7px;
}



Body {background-color: #babaf8;}