th, td {
    
   border:3px solid #0700076f;
   
}
table {
    width: 90%;
    
    border-spacing: 3px;
    
    background-color: rgb(255, 255, 255);
    table-layout: fixed;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;


}
tr:first-child {

    background-color: rgb(179, 223, 241);
    font-size: x-large;

  }


  th:first-child{
  border-top-left-radius: 7px;
}

th:nth-last-child(1){
  border-top-right-radius: 7px;
}

.ultima_fila td:first-child{
   border-bottom-left-radius: 7px;
}

.ultima_fila td:nth-last-child(1){
   border-bottom-right-radius: 7px;
}

 .Menu {
    margin-bottom: 20px;
    padding: 3px 10px;
    font-family: 'Lobster';
    font-weight: 1000;
    border: rgb(255, 255, 255) 8px groove;
}


Body {background-color: #babaf8;}
