<!DOCTYPE html>
<html lang="es">
  


<head>

  <meta charset="UTF-8">
  <title > Actividades recreativas  </title> 
  <link rel="stylesheet" type="text/css" href="css/style-index.css">
</head>



  <body >

    <div class="Seleccion">
      <div class="Menu">
        <p id="menu">Bienvenid@ a la página para encontrar actividades en Chile</p>
      </div>    
        <div class="botones">
          <button class="boton-1" style= "margin: 10px" onclick="window.location.href='informar-actividad.html'">Agregar actividad</button>
          
        </div>
        
        <div class="botones">
          <button class="boton-2" style= "margin: 10px" onclick="window.location.href='listaActividades.html'">Ver lista de actividades</button>
          
        </div>
        <div class="botones">
          <button class="boton-3" style= "margin: 10px" onclick="window.location.href='estadisticas.html'">Estadísticas</button>
          
        </div>
    


    <table id="first_table" class="default">

  <tr >

    <th> Inicio  </th>

    <th> Término </th>

    <th> Comuna </th>
    
    <th> Sector </th>
    
    <th> Tema </th>
    
    <th> Foto </th>

  </tr>

  <tr >

    <td> 2025-03-01 16:00 </td>

    <td>2025-03-01 19:00 </td>

    <td>La Cisterna</td>
    
    <td>Municipalidad </td>
    
    <td> Tejidos </td>
    
    <td><img src="fotos/amigurumi.webp" alt="tejido" width="180" height="120" ></td>

  </tr>
  <tr >

    <td> 2025-04-07 10:00 </td>

    <td>2025-04-09 19:00 </td>

    <td>La Reina</td>
    
    <td>Parque intercomunal La Reina </td>

    <td> Parque de atracciones </td>
    
    <td><img src="fotos/amusement-park.webp" alt="fantasilandia" width="180" height="120" ></td>
  </tr>
  <tr >

    <td> 2025-05-07 10:00 </td>

    <td>2025-05-16 19:00 </td>

    <td>Santiago</td>
    
    <td>GAM </td>

    <td> Feria del libro </td>
    
    <td><img src="fotos/book.webp" alt="book " width="180" height="120" ></td>
  </tr>
  <tr >

    <td> 2025-03-23 10:00 </td>

    <td>2025-03-23 15:00 </td>

    <td>San Bernardo</td>
    
    <td>Biblioteca municipal de San Bernardo </td>

    <td> Taller de Origami </td>
    
    <td><img src="fotos/origami.jpg" alt="Origami" width="180" height="120" ></td>

  </tr>
  <tr>

    <td> 2025-07-07 10:00 </td>

    <td>2025-07-07 19:00 </td>

    <td>Providencia</td>
    
    <td>Parque Inés de Suarez </td>

    <td> Concurso de mascotas </td>
    
    <td><img src="fotos/chihuahua.webp" alt="chihuahua" width="180" height="120" ></td>
  </tr>

</table>

  </body>

</html>