<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <title >Concurso de mascotas  </title> 
  <link rel="stylesheet" type="text/css" href="css/style-info.css">
</head>

  
    
  <div class="container">
  <h2 class="title">Concurso de mascotas</h2>

<div>
  <ul>
    <li>Fecha y hora de inicio :  2025-07-07 12:00 </li>
    <li>Fecha y hora de término : 2025-07-07 19:00 </li>
    <li>Comuna : Providencia  </li>
    <li>Sector : Parque Inés de Suarez </li>
    <li>Tema : Concurso de mascotas </li>
    <li>Nombre de organizador : Michelle Rojas </li>
  </ul>
</div>

  
      <div class="Image-container">
      <div class = "image"><img src="fotos/mascotas_!.webp" alt="mascotas"></div>
      <div class = "image"><img src="fotos/mascotas_2.webp" alt="mascotas_2"></div>
      <div class = "image"><img src="fotos/mascotas_3.jpeg" alt="mascotas_3"></div>
      </div>


<div class="popup-im">
<span>&times;</span>
<img src="fotos/mascotas_!.webp" alt="">

</div>
        <div class="botones">
          <button class="Menu" onclick="window.location.href='index.html'">Volver al menú principal</button>
          <button class="back" onclick="window.location.href='listaActividades.html'">Volver lista de actividades</button>
        </div>

      <script src="js/validador-list.js"></script>
</div>
</html>